:root {
    --right-msg-bg: #32495d;
    --glitter: url("https://assets.codepen.io/13471/silver-glitter-background.png");
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

.msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.qst-button {
    width: 50px;
    padding: 10px;
}

.popup_wrap input {
    display: none;
}

.popup-overlay {
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #37beb03d;
    opacity: 0;
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
}

.popup-trigger {
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup-content {
    position: relative;
    align-self: center;
    width: 75%;
    max-width: 800px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transition: 0.5s;
    border-radius: 12px;
    box-shadow: 0 0 5px rgba(94, 94, 94, 0.7);
}

.popup-content p {
    padding: 20px 20px 5px 20px;
    text-align: center;
}

.close {
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 30px;
    cursor: pointer;
    color: #37beb0;
}

.popup-wrap input:checked~.popup-overlay {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
}

.open {
    color: #37beb0;
    cursor: pointer;
    transition: .3s ease;
    padding: 5px 15px;
}



#trigger {
    display: none;
}


.msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #9DB2BF;
    background: #526D82;
    color: #27374D;
}

.msger-header-title {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;

}

.msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.msger-chat::-webkit-scrollbar {
    width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
    background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.msg {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.msg:last-of-type {
    margin: 0;
}

.msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
}

.msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.msg-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.msg-info-time {
    font-size: 0.85em;
}



.right-msg {
    flex-direction: row-reverse;
}

.right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-msg .msg-img {
    margin: 0 0 0 10px;
}

.msger-inputarea {
    display: flex;
    padding: 10px;
    border-top: 2px solid #ddd;
    background: #eee;
}

.msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.msger-input {
    flex: 1;
    background: #ddd;
}

.msger-send-btn {
    margin-left: 10px;
    background: #526D82;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.msger-send-btn:hover {
    background: #27374D;
}

.msger-chat {
    background-color: #9DB2BF;
}

.msger-fire {
    background-color: #526D82;
}

/* fire */
.fire::before,
.fire::after {
    content: "";
    position: absolute;
    inset: 0;
}

.fire::before {
    content: "";
    background-image: var(--glitter), var(--glitter),
        linear-gradient(0deg,
            white 0px,
            #ff6b51 5px,
            #dcbb16b7 30%,
            transparent 70%),
        radial-gradient(ellipse at bottom, transparent 30%, black 60%);
    background-size: 350px 500px, 400px 650px, 100% 100%, 100% 100%;
    background-blend-mode: hard-light, color-dodge, multiply;
    background-position: 0px 0px, 0px 0px, var(--gradientPos);
    background-repeat: repeat, repeat, repeat, no-repeat;
    mix-blend-mode: color-dodge;
    filter: brightness(3.7) blur(7px) contrast(6);
    animation: fire 1.75s linear infinite;
    box-shadow: inset 0 -40px 50px -60px #63bbc5;
}

@keyframes fire {
    0% {
        background-position: center 0px, center 0px, 50% 100%, center center;
    }

    100% {
        background-position: center -500px, center -650px, 50% 100%, center center;
    }
}

.fire {
    width: 100%;
    height: 100%;
    overflow: hidden;
}